header{
    background-color: #e084a3;
    color: white;
    text-align: center;
    padding: 1.2em;
    margin-top: 1.2em;
}
main{
    text-align: center;
}
h1{
    font-size: 5.5rem;
}
h2{
    font-size: 2.5rem;
    font-style: oblique;
}
.intro2{
    /* width: 0 30px; */
}
.intro{
    column-count: 3;
    background-color: #e084a3;
    color: white;
    /* border: 3px solid #2e1f1f; */
    padding: 1.5em;
}
.columns{
    background-color: #2e1f1f;
    color: white;
    padding: 1.5em;
    text-align: center;
}
.about{
    font-size: 2.5rem;
    text-decoration: underline;
}
.column{
    margin: 5;
    background-color: #5e5441;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    /* border: 0.2em solid gold; */
}